<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>Internet connection status</h1>

  <h3>Try to disconnect and reconnect your internet connection and observe the live status</h3>
  <br>
  <app-status-check></app-status-check>

  <app-status-check></app-status-check>

  <button *ngIf="!heartBeatState" (click)="setHeartBeatState(true)">Enable HeartBeat Check</button>
  <button *ngIf="heartBeatState" (click)="setHeartBeatState(false)">Disable HeartBeat Check</button>

</div>
