<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>Demo - Angular 10</h1>

  <qr-code #qrCode
  [qrData]="qrData"
  [shape]="shape"
  [width]="width"
  [height]="height"
  [margin]="margin"
  [imageUrl]="imageUrl"
  [dotsType]="dotsType"
  [dotsColor]="dotsColor"
  [dotsGradient]="dotsGradient"
  [dotsStartColor]="dotsStartColor"
  [dotsEndColor]="dotsEndColor"
  [dotsGradientType]="dotsGradientType"
  [dotsGradientRotation]="dotsGradientRotation"
  [cornerSquareType]="cornerSquareType"
  [cornerSquareColor]="cornerSquareColor"
  [cornerSquareGradient]="cornerSquareGradient"
  [cornerSquareStartColor]="cornerSquareStartColor"
  [cornerSquareEndColor]="cornerSquareEndColor"
  [cornerSquareGradientType]="cornerSquareGradientType"
  [cornerSquareGradientRotation]="cornerSquareGradientRotation"
  [cornerDotType]="cornerDotType"
  [cornerDotColor]="cornerDotColor"
  [cornerDotGradient]="cornerDotGradient"
  [cornerDotStartColor]="cornerDotStartColor"
  [cornerDotEndColor]="cornerDotEndColor"
  [cornerDotGradientType]="cornerDotGradientType"
  [cornerDotGradientRotation]="cornerDotGradientRotation"
  [backgroundColor]="backgroundColor"
  [backgroundGradient]="backgroundGradient"
  [backgroundStartColor]="backgroundStartColor"
  [backgroundEndColor]="backgroundEndColor"
  [backgroundGradientType]="backgroundGradientType"
  [backgroundGradientRotation]="cornerDotGradientRotation"
  [imageSize]="imageSize"
  [imageMargin]="imageMargin"
  [hideImageBackgroundDots]="hideImageBackgroundDots"
  [errorCorrectionLevel]="errorCorrectionLevel"></qr-code>
  
</div>